flows_mqtt.json
[{"id":"961cf109.9949a","type":"tab","label":"Labschalter","disabled":false,"info":""},{"id":"8a484035.bd89c","type":"tab","label":"3D Drucker","disabled":false,"info":""},{"id":"3216483a.d1dd48","type":"tab","label":"Sensoren","disabled":false,"info":""},{"id":"a97106d2.217498","type":"tab","label":"Steckdosen","disabled":false,"info":""},{"id":"d5c831e0.9c6e8","type":"subflow","name":"Is Labsitter","info":"","category":"","in":[{"x":50,"y":97,"wires":[{"id":"58b86162.7d25d"}]}],"out":[{"x":809.5,"y":196,"wires":[{"id":"ec8e5d5f.31419","port":0}]}],"env":[]},{"id":"3ce23456.e6809c","type":"subflow","name":"Plug","info":"","category":"","in":[{"x":240,"y":200,"wires":[{"id":"df453231.121af"}]}],"out":[{"x":720,"y":80,"wires":[{"id":"d14f9467.83f078","port":0},{"id":"137834ab.0c058b","port":0}]}],"env":[{"name":"TOPIC_IN","type":"str","value":"stat/plug005/RESULT"},{"name":"TOPIC_OUT","type":"str","value":"cmnd/plug005/POWER"},{"name":"TOPIC_IN_POWER","type":"str","value":"stat/plug005/POWER"},{"name":"SWITCH_ON_WITH_LAB","type":"bool","value":"false"},{"name":"SWITCH_OFF_WITH_LAB","type":"bool","value":"true"}]},{"id":"3f830e04.d52e62","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a90f4119.8ab9b","type":"ui_group","z":"","name":"Default","tab":"9e75dd99.2039b","order":1,"disp":true,"width":"6","collapse":false},{"id":"4fd5466.aba72b8","type":"mqtt-broker","z":"","name":"mqtt - Labnet","broker":"mqtt.flka.labnet","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9e75dd99.2039b","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"1cb93db4.61f3e2","type":"ui_group","z":"","name":"Labschalter","tab":"9e75dd99.2039b","order":2,"disp":true,"width":"6","collapse":false},{"id":"35e612f6.f6058e","type":"ui_group","z":"","name":"MK3","tab":"9e75dd99.2039b","order":3,"disp":true,"width":"6","collapse":false},{"id":"a737746e.60a508","type":"ui_group","z":"","name":"MK3S","tab":"9e75dd99.2039b","order":4,"disp":true,"width":"6","collapse":false},{"id":"923e7031.f5d6a","type":"ui_tab","z":"","name":"Control","icon":"power_settings_new","order":1,"disabled":false,"hidden":false},{"id":"2dd69cbf.a7f184","type":"ui_group","z":"","name":"Licht","tab":"923e7031.f5d6a","order":1,"disp":true,"width":"6","collapse":false},{"id":"e4fb9d3d.cd1fd","type":"ui_group","z":"","name":"Maschinen","tab":"923e7031.f5d6a","order":2,"disp":true,"width":"6","collapse":false},{"id":"a81bfeab.46c0d","type":"ui_group","z":"","name":"unbenutzt","tab":"923e7031.f5d6a","order":3,"disp":true,"width":"6","collapse":true},{"id":"68db5ee.22b4ba","type":"ui_tab","z":"","name":"Graveyard","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"75043efa.4f6","type":"mqtt in","z":"961cf109.9949a","name":"Labnetschalter (lesen)","topic":"labnetschalter/in","qos":"2","datatype":"auto","broker":"4fd5466.aba72b8","x":120,"y":300,"wires":[["9dcfdeb8.14939"]]},{"id":"9dcfdeb8.14939","type":"json","z":"961cf109.9949a","name":"","property":"payload","action":"","pretty":false,"x":450,"y":300,"wires":[["ffb5d88b.7e9878","61d37125.9bdcb"]]},{"id":"65223a31.68a5e4","type":"inject","z":"961cf109.9949a","name":"trigger","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1850,"y":520,"wires":[["1d51db7b.28db45"]]},{"id":"ffb5d88b.7e9878","type":"switch","z":"961cf109.9949a","name":"Is SwitchLight Command","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"switchlight","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":260,"wires":[["53484ab5.892894"]]},{"id":"61d37125.9bdcb","type":"switch","z":"961cf109.9949a","name":"Is RFID signal","property":"payload.svalue","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":340,"wires":[["1163bdb4.7268b2","c57a44fc.fb8378"]]},{"id":"91a55151.935b7","type":"state-machine","z":"961cf109.9949a","name":"Remember Card available","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","outputStateChangeOnly":true,"throwException":false,"states":["Card Not Available","Card Available and switch unknown","Card Av. and switch on","Card Av. and switch off"],"transitions":[{"name":"card","from":"Card Not Available","to":"Card Available and switch unknown"},{"name":"nocard","from":"Card Available and switch unknown","to":"Card Not Available"},{"name":"switchon","from":"Card Available and switch unknown","to":"Card Av. and switch on"},{"name":"switchoff","from":"Card Available and switch unknown","to":"Card Av. and switch off"},{"name":"nocard","from":"Card Av. and switch on","to":"Card Not Available"},{"name":"switchoff","from":"Card Av. and switch on","to":"Card Av. and switch off"},{"name":"nocard","from":"Card Av. and switch off","to":"Card Not Available"},{"name":"switchon","from":"Card Av. and switch off","to":"Card Av. and switch on"}],"x":1550,"y":340,"wires":[["8c6de06d.ace4f","b3673721.bbfee8","2aeecf6e.d98a8"]]},{"id":"1163bdb4.7268b2","type":"change","z":"961cf109.9949a","name":"get rfid id","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.svalue","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":400,"wires":[["a884b3dc.76505"]]},{"id":"7db40064.2329d","type":"change","z":"961cf109.9949a","name":"state card","rules":[{"t":"set","p":"payload","pt":"msg","to":"card","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":400,"wires":[["91a55151.935b7"]]},{"id":"49fb999.5911c68","type":"change","z":"961cf109.9949a","name":"state nocard","rules":[{"t":"set","p":"payload","pt":"msg","to":"nocard","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":340,"wires":[["91a55151.935b7"]]},{"id":"c57a44fc.fb8378","type":"debounce","z":"961cf109.9949a","time":1000,"name":"","x":900,"y":340,"wires":[["49fb999.5911c68"]]},{"id":"4b534148.80b2c","type":"change","z":"961cf109.9949a","name":"state switchon","rules":[{"t":"set","p":"payload","pt":"msg","to":"switchon","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":240,"wires":[["91a55151.935b7"]]},{"id":"53484ab5.892894","type":"switch","z":"961cf109.9949a","name":"Is SwitchLight ON/OFF Command","property":"payload.switchcmd","propertyType":"msg","rules":[{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":980,"y":260,"wires":[["4b534148.80b2c"],["bdecd258.94131"]]},{"id":"bdecd258.94131","type":"change","z":"961cf109.9949a","name":"state switchoff","rules":[{"t":"set","p":"payload","pt":"msg","to":"switchoff","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":280,"wires":[["91a55151.935b7"]]},{"id":"961a01b3.7b7c7","type":"http request","z":"961cf109.9949a","name":"Switch Board LED Black","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.6.23/control?cmd=NeopixelAll,0,0,0","tls":"","proxy":"","authType":"","x":2370,"y":320,"wires":[[]]},{"id":"2d653800.d9e5f8","type":"http request","z":"961cf109.9949a","name":"Switch Board LED Green","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.6.23/control?cmd=NeopixelAll,255,0,0","tls":"","proxy":"","authType":"","x":2370,"y":200,"wires":[["ad2e1e1e.496e3"]]},{"id":"8c6de06d.ace4f","type":"switch","z":"961cf109.9949a","name":"Switch State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Card Not Available","vt":"str"},{"t":"eq","v":"Card Available and switch unknown","vt":"str"},{"t":"eq","v":"Card Av. and switch on","vt":"str"},{"t":"eq","v":"Card Av. and switch off","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1829,"y":456,"wires":[["1544cf9d.3da66"],["1d51db7b.28db45"],["1d51db7b.28db45"],["1d51db7b.28db45"]]},{"id":"b3673721.bbfee8","type":"ui_text","z":"961cf109.9949a","group":"1cb93db4.61f3e2","order":0,"width":0,"height":0,"name":"Lab switch Status","label":"Lab State","format":"{{msg.payload}}","layout":"row-spread","x":1850,"y":320,"wires":[]},{"id":"fb730d31.2418b","type":"ui_text","z":"961cf109.9949a","group":"1cb93db4.61f3e2","order":1,"width":0,"height":0,"name":"Labsitter Name","label":"Last seen Labsitter","format":"{{msg.payload}}","layout":"row-spread","x":1360,"y":520,"wires":[]},{"id":"ea6a5454.4ae998","type":"query","z":"d5c831e0.9c6e8","name":"","url":"ldap://192.168.1.21","baseDN":"dc=flka,dc=intern","x":354.5,"y":80,"wires":[["ee4d7785.a3f078"]]},{"id":"1997f4d.aedf50b","type":"inject","z":"961cf109.9949a","name":"Timo","topic":"","payload":"(&(pager=1087056259)(memberof=cn=FLKA_Labsitter,cn=Groups,dc=flka,dc=intern))","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":941,"y":772,"wires":[[]]},{"id":"91d8be18.14f37","type":"inject","z":"961cf109.9949a","name":"Sven","topic":"","payload":"(&(pager= 2403809833)(memberof=cn=FLKA_Labsitter,cn=Groups,dc=flka,dc=intern))","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":932,"y":828,"wires":[[]]},{"id":"58b86162.7d25d","type":"template","z":"d5c831e0.9c6e8","name":"LDAP Querry","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"(&(pager={{payload}})(memberof=cn=FLKA_Labsitter,cn=Groups,dc=flka,dc=intern))","output":"str","x":200,"y":97,"wires":[["ea6a5454.4ae998"]]},{"id":"ee4d7785.a3f078","type":"switch","z":"d5c831e0.9c6e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":485.5,"y":155,"wires":[["ec8e5d5f.31419"]]},{"id":"a884b3dc.76505","type":"subflow:d5c831e0.9c6e8","z":"961cf109.9949a","name":"Is Labsitter","env":[],"x":1090,"y":400,"wires":[["fb730d31.2418b","7db40064.2329d","61a92622.542488"]]},{"id":"2aeecf6e.d98a8","type":"state-machine","z":"961cf109.9949a","name":"Lab Status","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","outputStateChangeOnly":true,"throwException":false,"states":["Open","Closed"],"transitions":[{"name":"Card Av. and switch off","from":"Open","to":"Closed"},{"name":"Card Av. and switch on","from":"Closed","to":"Open"}],"x":1830,"y":260,"wires":[["c0a0f344.b9338","c1b4493c.214b78"]]},{"id":"c0a0f344.b9338","type":"switch","z":"961cf109.9949a","name":"Switch Lab State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Open","vt":"str"},{"t":"eq","v":"Closed","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2090,"y":260,"wires":[["2d653800.d9e5f8","d96de39e.15516"],["961a01b3.7b7c7","eaae4fbd.b3c85"]]},{"id":"c1b4493c.214b78","type":"ui_text","z":"961cf109.9949a","group":"1cb93db4.61f3e2","order":0,"width":0,"height":0,"name":"Lab switch Status","label":"Lab is","format":"{{msg.payload}}","layout":"row-left","x":2090,"y":180,"wires":[]},{"id":"d9a5f9ff.741c58","type":"mqtt in","z":"8a484035.bd89c","name":"MK3S Hotend Temp","topic":"octoprint/MK3S/temperature/tool0","qos":"2","datatype":"auto","broker":"4fd5466.aba72b8","x":133,"y":97,"wires":[["3bf5758d.6bd19a","cbac62f7.98c2f"]]},{"id":"38716cc1.4cd514","type":"ui_gauge","z":"8a484035.bd89c","name":"Temp_Nozzle","group":"a737746e.60a508","order":4,"width":0,"height":0,"gtype":"gage","title":"Nozzle","label":"°C","format":"{{value}}","min":0,"max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520.5,"y":61,"wires":[]},{"id":"d6ece2d2.2f632","type":"mqtt in","z":"8a484035.bd89c","name":"MK3S Bed Temp","topic":"octoprint/MK3S/temperature/bed","qos":"2","datatype":"auto","broker":"4fd5466.aba72b8","x":125,"y":159,"wires":[["693b0855.27aca8","60193138.81726"]]},{"id":"5213298d.0b4198","type":"mqtt in","z":"8a484035.bd89c","name":"MK3S Progress ans File","topic":"octoprint/MK3S/progress/printing","qos":"2","datatype":"auto","broker":"4fd5466.aba72b8","x":145,"y":235,"wires":[["774e31ae.28605","ace0a563.b6be68"]]},{"id":"3bf5758d.6bd19a","type":"function","z":"8a484035.bd89c","name":"N IST","func":"var parsed = JSON.parse(msg.payload);\n\nif(parsed.hasOwnProperty(\"actual\")) {\n    msg.payload = parsed.actual;\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":365.5,"y":61,"wires":[["38716cc1.4cd514"]]},{"id":"cbac62f7.98c2f","type":"function","z":"8a484035.bd89c","name":"N SOLL","func":"var parsed = JSON.parse(msg.payload);\n\nif(parsed.hasOwnProperty(\"target\")) {\n    msg.payload = parsed.target;\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":373,"y":105,"wires":[[]]},{"id":"d1a1db55.9caf18","type":"ui_gauge","z":"8a484035.bd89c","name":"Temp_Bed","group":"a737746e.60a508","order":5,"width":0,"height":0,"gtype":"gage","title":"Heizbett","label":"°C","format":"{{value}}","min":0,"max":"190","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":145,"wires":[]},{"id":"693b0855.27aca8","type":"function","z":"8a484035.bd89c","name":"B IST","func":"var parsed = JSON.parse(msg.payload);\n\nif(parsed.hasOwnProperty(\"actual\")) {\n    msg.payload = parsed.actual;\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":365,"y":145,"wires":[["d1a1db55.9caf18"]]},{"id":"60193138.81726","type":"function","z":"8a484035.bd89c","name":"B SOLL","func":"var parsed = JSON.parse(msg.payload);\n\nif(parsed.hasOwnProperty(\"target\")) {\n    msg.payload = parsed.target;\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":372.5,"y":189,"wires":[[]]},{"id":"d74de2d9.e8659","type":"ui_gauge","z":"8a484035.bd89c","name":"Progress","group":"a737746e.60a508","order":3,"width":0,"height":0,"gtype":"gage","title":"Progress","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#00b500","#00b500"],"seg1":"","seg2":"","x":553.5,"y":238,"wires":[]},{"id":"774e31ae.28605","type":"function","z":"8a484035.bd89c","name":"Progress","func":"var parsed = JSON.parse(msg.payload);\n\nif(parsed.hasOwnProperty(\"progress\")) {\n    msg.payload = parsed.progress;\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":393,"y":238,"wires":[["d74de2d9.e8659"]]},{"id":"a61f5dbc.6924b","type":"mqtt in","z":"8a484035.bd89c","name":"MK3 Hotend Temp","topic":"octoprint/MK3/temperature/tool0","qos":"2","datatype":"auto","broker":"4fd5466.aba72b8","x":127,"y":470,"wires":[["aaabc52a.aaca48","c1fad66e.121608"]]},{"id":"7536e6ca.83edc8","type":"ui_gauge","z":"8a484035.bd89c","name":"Temp_Nozzle","group":"35e612f6.f6058e","order":4,"width":0,"height":0,"gtype":"gage","title":"Nozzle","label":"°C","format":"{{value}}","min":0,"max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":514.5,"y":434,"wires":[]},{"id":"623a0162.c56d3","type":"mqtt in","z":"8a484035.bd89c","name":"MK3 Bed Temp","topic":"octoprint/MK3/temperature/bed","qos":"2","datatype":"auto","broker":"4fd5466.aba72b8","x":119,"y":532,"wires":[["d4e0de4f.b3313","80dc6cce.4495c"]]},{"id":"5dbb6096.115de","type":"mqtt in","z":"8a484035.bd89c","name":"MK3 Progress ans File","topic":"octoprint/MK3/progress/printing","qos":"2","datatype":"auto","broker":"4fd5466.aba72b8","x":129,"y":608,"wires":[["ce671409.c8c858","d466f01.4815a1"]]},{"id":"aaabc52a.aaca48","type":"function","z":"8a484035.bd89c","name":"N IST","func":"var parsed = JSON.parse(msg.payload);\n\nif(parsed.hasOwnProperty(\"actual\")) {\n    msg.payload = parsed.actual;\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":359.5,"y":434,"wires":[["7536e6ca.83edc8"]]},{"id":"c1fad66e.121608","type":"function","z":"8a484035.bd89c","name":"N SOLL","func":"var parsed = JSON.parse(msg.payload);\n\nif(parsed.hasOwnProperty(\"target\")) {\n    msg.payload = parsed.target;\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":367,"y":478,"wires":[[]]},{"id":"32de78b3.ebde58","type":"ui_gauge","z":"8a484035.bd89c","name":"Temp_Bed","group":"35e612f6.f6058e","order":5,"width":0,"height":0,"gtype":"gage","title":"Heizbett","label":"°C","format":"{{value}}","min":0,"max":"190","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":504,"y":518,"wires":[]},{"id":"d4e0de4f.b3313","type":"function","z":"8a484035.bd89c","name":"B IST","func":"var parsed = JSON.parse(msg.payload);\n\nif(parsed.hasOwnProperty(\"actual\")) {\n    msg.payload = parsed.actual;\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":359,"y":518,"wires":[["32de78b3.ebde58"]]},{"id":"80dc6cce.4495c","type":"function","z":"8a484035.bd89c","name":"B SOLL","func":"var parsed = JSON.parse(msg.payload);\n\nif(parsed.hasOwnProperty(\"target\")) {\n    msg.payload = parsed.target;\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":366.5,"y":562,"wires":[[]]},{"id":"4a708a3d.4db474","type":"ui_gauge","z":"8a484035.bd89c","name":"Progress","group":"35e612f6.f6058e","order":3,"width":0,"height":0,"gtype":"gage","title":"Progress","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#00b500","#00b500"],"seg1":"","seg2":"","x":547.5,"y":611,"wires":[]},{"id":"ce671409.c8c858","type":"function","z":"8a484035.bd89c","name":"Progress","func":"var parsed = JSON.parse(msg.payload);\n\nif(parsed.hasOwnProperty(\"progress\")) {\n    msg.payload = parsed.progress;\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":609,"wires":[["4a708a3d.4db474"]]},{"id":"efec97b9.b4b8e8","type":"ui_text","z":"8a484035.bd89c","group":"35e612f6.f6058e","order":1,"width":0,"height":0,"name":"","label":"Status:","format":"{{msg.payload.printer_data.state.text}}","layout":"row-spread","x":591.5,"y":664,"wires":[]},{"id":"d466f01.4815a1","type":"json","z":"8a484035.bd89c","name":"","property":"payload","action":"","pretty":false,"x":361.5,"y":653,"wires":[["efec97b9.b4b8e8","aaefb5c2.58d098"]]},{"id":"ce3fb007.715a","type":"humanizer","z":"8a484035.bd89c","name":"","input":"","x":910,"y":714,"wires":[["c048feba.7a3d9"]]},{"id":"c048feba.7a3d9","type":"ui_text","z":"8a484035.bd89c","group":"35e612f6.f6058e","order":2,"width":0,"height":0,"name":"","label":"Print Time left","format":"{{msg.payload.humanized}}","layout":"row-spread","x":1092.5,"y":713,"wires":[]},{"id":"1d51db7b.28db45","type":"http request","z":"961cf109.9949a","name":"Switch Reader LED On","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.6.23/control?cmd=GPIO,13,1","tls":"","proxy":"","authType":"","x":2130,"y":480,"wires":[[]]},{"id":"1544cf9d.3da66","type":"http request","z":"961cf109.9949a","name":"Switch Reader LED Off","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.6.23/control?cmd=GPIO,13,0","tls":"","proxy":"","authType":"","x":2130,"y":420,"wires":[[]]},{"id":"2ca10f47.00fc9","type":"inject","z":"961cf109.9949a","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1850,"y":380,"wires":[["1544cf9d.3da66"]]},{"id":"ec8e5d5f.31419","type":"change","z":"d5c831e0.9c6e8","name":"Get Username","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.users[0].displayName","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"labsitter-name","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":534,"y":237,"wires":[[]]},{"id":"aaefb5c2.58d098","type":"change","z":"8a484035.bd89c","name":"get printer_data.progress.printTimeLeft","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.printer_data.progress.printTimeLeft","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":649,"y":718,"wires":[["ce3fb007.715a"]]},{"id":"ace0a563.b6be68","type":"json","z":"8a484035.bd89c","name":"","property":"payload","action":"","pretty":false,"x":381,"y":276,"wires":[["a1e26c41.14f8c","9c55d6eb.dfb568"]]},{"id":"a1e26c41.14f8c","type":"ui_text","z":"8a484035.bd89c","group":"a737746e.60a508","order":1,"width":0,"height":0,"name":"","label":"Status:","format":"{{msg.payload.printer_data.state.text}}","layout":"row-spread","x":554,"y":281,"wires":[]},{"id":"9c55d6eb.dfb568","type":"change","z":"8a484035.bd89c","name":"get printer_data.progress.printTimeLeft","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.printer_data.progress.printTimeLeft","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":656,"y":335,"wires":[["da7c87cd.befd78"]]},{"id":"da7c87cd.befd78","type":"humanizer","z":"8a484035.bd89c","name":"","input":"","x":917,"y":331,"wires":[["f1e65b6f.ac6c78"]]},{"id":"f1e65b6f.ac6c78","type":"ui_text","z":"8a484035.bd89c","group":"a737746e.60a508","order":2,"width":0,"height":0,"name":"","label":"Print Time left","format":"{{msg.payload.humanized}}","layout":"row-spread","x":1099.5,"y":330,"wires":[]},{"id":"4c834082.bc237","type":"http request","z":"961cf109.9949a","name":"Post to Slack Channel","method":"POST","ret":"txt","paytoqs":false,"url":"https://hooks.slack.com/services/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","tls":"","proxy":"","authType":"","x":3100,"y":260,"wires":[[]]},{"id":"a18236f4.8eebe8","type":"template","z":"961cf109.9949a","name":"make into json string (opened)","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"text\":\"'{{payload}}' just opened\"}","output":"str","x":2650,"y":240,"wires":[["168352fd.9dffcd"]]},{"id":"588a986a.e1bee8","type":"template","z":"961cf109.9949a","name":"make into json string (closed)","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"text\":\"'{{payload}}' just closed\"}","output":"str","x":2640,"y":280,"wires":[["168352fd.9dffcd","886864d3.c7f368"]]},{"id":"eaae4fbd.b3c85","type":"function","z":"961cf109.9949a","name":"Cache Labsitter Name","func":"const cacheKey = 'labsitter-name';\nif (msg.topic === cacheKey) {\n    flow.set(cacheKey, msg.payload)\n} else {\n    msg.payload = flow.get(cacheKey);\n}\nreturn msg;","outputs":1,"noerr":0,"x":2360,"y":280,"wires":[["588a986a.e1bee8"]]},{"id":"d96de39e.15516","type":"function","z":"961cf109.9949a","name":"Cache Labsitter Name","func":"const cacheKey = 'labsitter-name';\nif (msg.topic === cacheKey) {\n    flow.set(cacheKey, msg.payload)\n} else {\n    msg.payload = flow.get(cacheKey);\n}\nreturn msg;","outputs":1,"noerr":0,"x":2360,"y":240,"wires":[["a18236f4.8eebe8"]]},{"id":"61a92622.542488","type":"function","z":"961cf109.9949a","name":"Cache Labsitter Name","func":"const cacheKey = 'labsitter-name';\nif (msg.topic === cacheKey) {\n    flow.set(cacheKey, msg.payload)\n} else {\n    msg.payload = flow.get(cacheKey);\n}\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":460,"wires":[[]]},{"id":"168352fd.9dffcd","type":"debounce","z":"961cf109.9949a","time":1000,"name":"","x":2900,"y":260,"wires":[["4c834082.bc237"]]},{"id":"efa92d9d.24704","type":"mqtt in","z":"3216483a.d1dd48","name":"","topic":"BME280Werkstatt/tele/SENSOR","qos":"2","datatype":"auto","broker":"4fd5466.aba72b8","x":211.5,"y":109,"wires":[["cf3672d3.91c45"]]},{"id":"38284898.644518","type":"mqtt in","z":"3216483a.d1dd48","name":"","topic":"BME280Eingang/tele/SENSOR","qos":"2","datatype":"auto","broker":"4fd5466.aba72b8","x":210,"y":250,"wires":[["cf3672d3.91c45"]]},{"id":"cf3672d3.91c45","type":"json","z":"3216483a.d1dd48","name":"","property":"payload","action":"","pretty":false,"x":501.5,"y":183,"wires":[["3714e66a.30862a"]]},{"id":"3714e66a.30862a","type":"debug","z":"3216483a.d1dd48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":746.5,"y":184,"wires":[]},{"id":"89ad53a2.0034b","type":"inject","z":"961cf109.9949a","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2190,"y":120,"wires":[["2d653800.d9e5f8"]]},{"id":"56132463.d10b2c","type":"inject","z":"961cf109.9949a","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2150,"y":340,"wires":[["961a01b3.7b7c7"]]},{"id":"534d7509.f3431c","type":"mqtt in","z":"3ce23456.e6809c","name":"Plug RESULT","topic":"$(TOPIC_IN)","qos":"2","datatype":"auto","broker":"4fd5466.aba72b8","x":190,"y":80,"wires":[["45f8a557.8dad9c"]]},{"id":"45f8a557.8dad9c","type":"json","z":"3ce23456.e6809c","name":"","property":"payload","action":"","pretty":false,"x":370,"y":80,"wires":[["d14f9467.83f078"]]},{"id":"d14f9467.83f078","type":"function","z":"3ce23456.e6809c","name":"POWER is ON","func":"msg.payload = msg.payload.POWER == 'ON'\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":80,"wires":[[]]},{"id":"93e046b4.75eb18","type":"mqtt out","z":"3ce23456.e6809c","name":"Plug POWER","topic":"$(TOPIC_OUT)","qos":"","retain":"","broker":"4fd5466.aba72b8","x":770,"y":200,"wires":[]},{"id":"df453231.121af","type":"function","z":"3ce23456.e6809c","name":"bool to sonoff","func":"msg.payload = msg.payload ? 'ON' : 'OFF';\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":200,"wires":[["93e046b4.75eb18"]]},{"id":"d62dfc32.931c5","type":"subflow:3ce23456.e6809c","z":"a97106d2.217498","name":"Plug 5","env":[{"name":"SWITCH_ON_WITH_LAB","type":"bool","value":"true"}],"x":350,"y":140,"wires":[["ef9a0990.146508"]]},{"id":"ca5ef8a9.0e27b8","type":"subflow:3ce23456.e6809c","z":"a97106d2.217498","name":"Plug 3","env":[{"name":"TOPIC_IN","type":"str","value":"stat/plug003/RESULT"},{"name":"TOPIC_OUT","type":"str","value":"cmnd/plug003/POWER"},{"name":"TOPIC_IN_POWER","type":"str","value":"stat/plug003/POWER"},{"name":"SWITCH_ON_WITH_LAB","type":"bool","value":"true"}],"x":110,"y":140,"wires":[["ab45f5cf.aacb28"]]},{"id":"56cb566.c40b3a8","type":"comment","z":"a97106d2.217498","name":"Licht","info":"","x":110,"y":40,"wires":[]},{"id":"ab45f5cf.aacb28","type":"ui_switch","z":"a97106d2.217498","name":"","label":"Licht Mitte","tooltip":"","group":"2dd69cbf.a7f184","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":100,"wires":[["ca5ef8a9.0e27b8"]]},{"id":"ef9a0990.146508","type":"ui_switch","z":"a97106d2.217498","name":"","label":"Licht PCs","tooltip":"","group":"2dd69cbf.a7f184","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":360,"y":100,"wires":[["d62dfc32.931c5"]]},{"id":"c53dfca2.ea286","type":"mqtt in","z":"3ce23456.e6809c","name":"Plug POWER","topic":"$(TOPIC_IN_POWER)","qos":"2","datatype":"auto","broker":"4fd5466.aba72b8","x":190,"y":140,"wires":[["137834ab.0c058b"]]},{"id":"137834ab.0c058b","type":"function","z":"3ce23456.e6809c","name":"payload is ON","func":"msg.payload = msg.payload == 'ON'\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":140,"wires":[[]]},{"id":"974796e6.2ad938","type":"subflow:3ce23456.e6809c","z":"a97106d2.217498","name":"Plug 1","env":[{"name":"TOPIC_IN","type":"str","value":"stat/plug001/RESULT"},{"name":"TOPIC_OUT","type":"str","value":"cmnd/plug001/POWER"},{"name":"TOPIC_IN_POWER","type":"str","value":"stat/plug001/POWER"}],"x":570,"y":140,"wires":[["3d2348db.eeddf8"]]},{"id":"3d2348db.eeddf8","type":"ui_switch","z":"a97106d2.217498","name":"","label":"Außenbereich","tooltip":"","group":"2dd69cbf.a7f184","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":600,"y":100,"wires":[["974796e6.2ad938"]]},{"id":"d88f9d9f.84fb7","type":"subflow:3ce23456.e6809c","z":"a97106d2.217498","name":"Plug 2","env":[{"name":"TOPIC_IN","type":"str","value":"stat/plug002/RESULT"},{"name":"TOPIC_OUT","type":"str","value":"cmnd/plug002/POWER"},{"name":"TOPIC_IN_POWER","type":"str","value":"stat/plug002/POWER"}],"x":90,"y":580,"wires":[["15a388e4.4c34f7"]]},{"id":"a803b386.10232","type":"ui_switch","z":"a97106d2.217498","name":"","label":"Lötecke","tooltip":"","group":"e4fb9d3d.cd1fd","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":100,"y":540,"wires":[["d88f9d9f.84fb7"]]},{"id":"dc4df371.d1c01","type":"subflow:3ce23456.e6809c","z":"a97106d2.217498","name":"Plug 20","env":[{"name":"TOPIC_IN","type":"str","value":"stat/plug020/RESULT"},{"name":"TOPIC_OUT","type":"str","value":"cmnd/plug020/POWER"},{"name":"TOPIC_IN_POWER","type":"str","value":"stat/plug020/POWER"}],"x":460,"y":580,"wires":[["e815848b.2b63b8"]]},{"id":"e815848b.2b63b8","type":"ui_switch","z":"a97106d2.217498","name":"","label":"Kompressor","tooltip":"","group":"e4fb9d3d.cd1fd","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":470,"y":540,"wires":[["dc4df371.d1c01"]]},{"id":"b299d2b9.1c749","type":"subflow:3ce23456.e6809c","z":"a97106d2.217498","name":"Plug 10","env":[{"name":"TOPIC_IN","type":"str","value":"stat/plug010/RESULT"},{"name":"TOPIC_OUT","type":"str","value":"cmnd/plug010/POWER"},{"name":"TOPIC_IN_POWER","type":"str","value":"stat/plug010/POWER"}],"x":840,"y":140,"wires":[["cdf3ea59.80a298"]]},{"id":"cdf3ea59.80a298","type":"ui_switch","z":"a97106d2.217498","name":"","label":"Licht Lager","tooltip":"","group":"2dd69cbf.a7f184","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":850,"y":100,"wires":[["b299d2b9.1c749"]]},{"id":"15a388e4.4c34f7","type":"subflow:3ce23456.e6809c","z":"a97106d2.217498","name":"Plug 7","env":[{"name":"TOPIC_IN","type":"str","value":"stat/plug007/RESULT"},{"name":"TOPIC_OUT","type":"str","value":"cmnd/plug007/POWER"},{"name":"TOPIC_IN_POWER","type":"str","value":"stat/plug007/POWER"}],"x":210,"y":580,"wires":[["a803b386.10232"]]},{"id":"90c43aa2.dec238","type":"mqtt in","z":"3ce23456.e6809c","name":"/flka/lab_state","topic":"/flka/lab_state","qos":"2","datatype":"auto","broker":"4fd5466.aba72b8","x":190,"y":260,"wires":[["96939ea6.2b0ed"]]},{"id":"324d9fc.601bc6","type":"mqtt out","z":"961cf109.9949a","name":"","topic":"/flka/lab_state","qos":"","retain":"","broker":"4fd5466.aba72b8","x":3340,"y":260,"wires":[]},{"id":"886864d3.c7f368","type":"change","z":"961cf109.9949a","name":"Set payload to OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3030,"y":320,"wires":[["324d9fc.601bc6"]]},{"id":"ad2e1e1e.496e3","type":"change","z":"961cf109.9949a","name":"Set payload to ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3030,"y":200,"wires":[["324d9fc.601bc6"]]},{"id":"367863a7.d5f28c","type":"inject","z":"961cf109.9949a","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2810,"y":140,"wires":[["ad2e1e1e.496e3"]]},{"id":"73b00a36.ade324","type":"inject","z":"961cf109.9949a","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2810,"y":380,"wires":[["886864d3.c7f368"]]},{"id":"96939ea6.2b0ed","type":"function","z":"3ce23456.e6809c","name":"Only switch WITH_LAB if allowed","func":"if (msg.payload === \"ON\" && !env.get('SWITCH_ON_WITH_LAB')) {\n    return;\n} else if (msg.payload === \"OFF\" && !env.get('SWITCH_OFF_WITH_LAB')) {\n    return;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":260,"wires":[["93e046b4.75eb18"]]},{"id":"9017ff1.f0181","type":"comment","z":"a97106d2.217498","name":"Unbenutzt","info":"","x":120,"y":860,"wires":[]},{"id":"31f3f529.5c435a","type":"subflow:3ce23456.e6809c","z":"a97106d2.217498","name":"Plug 4","env":[{"name":"TOPIC_IN","type":"str","value":"stat/plug004/RESULT"},{"name":"TOPIC_OUT","type":"str","value":"cmnd/plug004/POWER"},{"name":"TOPIC_IN_POWER","type":"str","value":"stat/plug004/POWER"},{"name":"SWITCH_ON_WITH_LAB","type":"bool","value":"true"}],"x":330,"y":260,"wires":[["f65d7cb0.25de"]]},{"id":"f65d7cb0.25de","type":"ui_switch","z":"a97106d2.217498","name":"","label":"Licht 3D-Drucker","tooltip":"","group":"2dd69cbf.a7f184","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":370,"y":220,"wires":[["31f3f529.5c435a"]]},{"id":"d1e3fa50.952d48","type":"ui_switch","z":"a97106d2.217498","name":"","label":"Licht Küche","tooltip":"","group":"2dd69cbf.a7f184","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":220,"wires":[["c2ab2243.41973"]]},{"id":"c2ab2243.41973","type":"subflow:3ce23456.e6809c","z":"a97106d2.217498","name":"Plug 6","env":[{"name":"TOPIC_IN","type":"str","value":"stat/plug006/RESULT"},{"name":"TOPIC_OUT","type":"str","value":"cmnd/plug006/POWER"},{"name":"TOPIC_IN_POWER","type":"str","value":"stat/plug006/POWER"},{"name":"SWITCH_ON_WITH_LAB","type":"bool","value":"true"}],"x":110,"y":260,"wires":[["d1e3fa50.952d48"]]},{"id":"cb071db9.4c1e1","type":"comment","z":"a97106d2.217498","name":"Maschinen","info":"","x":80,"y":480,"wires":[]},{"id":"ca1f9283.e4322","type":"subflow:3ce23456.e6809c","z":"a97106d2.217498","name":"Plug 13","env":[{"name":"TOPIC_IN","type":"str","value":"stat/plug013/RESULT"},{"name":"TOPIC_OUT","type":"str","value":"cmnd/plug013/POWER"},{"name":"TOPIC_IN_POWER","type":"str","value":"stat/plug013/POWER"}],"x":700,"y":580,"wires":[["b471b54d.8e8478"]]},{"id":"b471b54d.8e8478","type":"ui_switch","z":"a97106d2.217498","name":"","label":"Standbohrmaschine","tooltip":"","group":"e4fb9d3d.cd1fd","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":740,"y":540,"wires":[["ca1f9283.e4322"]]},{"id":"ce45feba.470af","type":"ui_switch","z":"a97106d2.217498","name":"","label":"Steckdose Werkbank","tooltip":"","group":"e4fb9d3d.cd1fd","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":140,"y":680,"wires":[["6b166c6.a0f2e94"]]},{"id":"6b166c6.a0f2e94","type":"subflow:3ce23456.e6809c","z":"a97106d2.217498","name":"Plug 15","env":[{"name":"TOPIC_IN","type":"str","value":"stat/plug015/RESULT"},{"name":"TOPIC_OUT","type":"str","value":"cmnd/plug015/POWER"},{"name":"TOPIC_IN_POWER","type":"str","value":"stat/plug015/POWER"},{"name":"SWITCH_ON_WITH_LAB","type":"bool","value":"true"}],"x":100,"y":720,"wires":[["ce45feba.470af"]]},{"id":"260ac794.361ce8","type":"ui_switch","z":"a97106d2.217498","name":"","label":"Plug 14","tooltip":"","group":"a81bfeab.46c0d","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":920,"wires":[["287dd47d.39447c"]]},{"id":"287dd47d.39447c","type":"subflow:3ce23456.e6809c","z":"a97106d2.217498","name":"Plug 14","env":[{"name":"TOPIC_IN","type":"str","value":"stat/plug014/RESULT"},{"name":"TOPIC_OUT","type":"str","value":"cmnd/plug014/POWER"},{"name":"TOPIC_IN_POWER","type":"str","value":"stat/plug014/POWER"}],"x":120,"y":960,"wires":[["260ac794.361ce8"]]},{"id":"38ebac5a.9edb94","type":"ui_switch","z":"a97106d2.217498","name":"","label":"Licht Tisch 1","tooltip":"","group":"2dd69cbf.a7f184","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":610,"y":220,"wires":[["891075f.55df288"]]},{"id":"891075f.55df288","type":"subflow:3ce23456.e6809c","z":"a97106d2.217498","name":"Plug 16","env":[{"name":"TOPIC_IN","type":"str","value":"stat/plug016/RESULT"},{"name":"TOPIC_OUT","type":"str","value":"cmnd/plug016/POWER"},{"name":"TOPIC_IN_POWER","type":"str","value":"stat/plug016/POWER"}],"x":600,"y":260,"wires":[["38ebac5a.9edb94"]]},{"id":"cb50076e.f56f78","type":"ui_switch","z":"a97106d2.217498","name":"","label":"Licht Tisch 2","tooltip":"","group":"2dd69cbf.a7f184","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":220,"wires":[["ce5979cc.361008"]]},{"id":"ce5979cc.361008","type":"subflow:3ce23456.e6809c","z":"a97106d2.217498","name":"Plug 11","env":[{"name":"TOPIC_IN","type":"str","value":"stat/plug011/RESULT"},{"name":"TOPIC_OUT","type":"str","value":"cmnd/plug011/POWER"},{"name":"TOPIC_IN_POWER","type":"str","value":"stat/plug011/POWER"}],"x":800,"y":260,"wires":[["cb50076e.f56f78"]]},{"id":"f414b30.720685","type":"ui_switch","z":"a97106d2.217498","name":"","label":"Schaufenster","tooltip":"","group":"e4fb9d3d.cd1fd","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":390,"y":680,"wires":[["d938e7ce.b57648"]]},{"id":"d938e7ce.b57648","type":"subflow:3ce23456.e6809c","z":"a97106d2.217498","name":"Plug 8","env":[{"name":"TOPIC_IN","type":"str","value":"stat/plug008/RESULT"},{"name":"TOPIC_OUT","type":"str","value":"cmnd/plug008/POWER"},{"name":"TOPIC_IN_POWER","type":"str","value":"stat/plug008/POWER"}],"x":370,"y":720,"wires":[["f414b30.720685"]]}]